<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="canonical" href="stockscrape/">
    <nav class="navbar bg-light">
        <div class="container-fluid" onclick = "show_dropdown()">
          <a class="navbar-brand" 
             href="stocks.html">Choose Stock
          </a>
          <br>
          <a class="navbar-brand" 
             href="chart.html">Charts
          </a>
        </div> 
    </nav>
    <title>Home Page</title>
    <h1 id = "app_name"> StockScraper </h1>
</head>
<body>

    <script>

        
        document.write("<br>This is a charting using AlphaVantage Stock Data.")
        document.write("<br>Input a comapany's stock symbol and we will generate a nice, pretty graph for you." +
                       "<br>Once it's coded, that is [>-<]")


    </script>

</body>
</html>